* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.album-container {
  background-color: #eff3f9;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  width: 85%;
}

.page-album {
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  display: flex;
  height: 240px;
  position: initial;
  top: 0;
  width: 100%;
}

.album-data {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin-left: 22%;
  margin-top: 8%;
}

.album-name {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.artist-name {
  color: #666;
  font-size: 1em;
  font-style: italic;

  /* text-align: left; */
}

.album-image {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  margin-left: 5%;
  margin-top: 12%;
  position: absolute;
  width: 200px;
}

.content-album {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}
