.card {
  align-items: center;

  /* background: linear-gradient(to bottom right, #e6e9f0, #eef1f5); */
  background: linear-gradient(to bottom right, #acb6e536, #86fde73b);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #3d495c;
  display: flex;
  flex-direction: column;
  height: 335px;
  justify-content: space-between;
  margin: 10px 20px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 200px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card img {
  border-radius: 10px;
  height: 195px;
  margin-top: 16px;
  transition: transform 0.3s ease;
  width: 195px;
  z-index: 1;
}

a:link, a:visited {
  text-decoration: none;
}

.card h2 {
  color: #3d495c;
  font-size: 18px;
  font-weight: 700;
  height: 48px;
  margin: 14px 5px 5px;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  z-index: 2;
}

.card p {
  color: #6c7a89;
  font-size: 14px;
  height: 20px;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
  z-index: 2;
}

