body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

a:link, a:visited {
  text-decoration: none;
}