.player {
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}

.name-and-artist {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.artistName {
  color: #666;
  font-size: 0.7em;
  font-style: italic;
}

.audio-and-favorite {
  align-items: center;
  display: flex;
}

.player h4 {
  margin: 0;
}

.trackName {
  color: #333;
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.visually-hidden {
  left: -9999px;
  position: absolute;
}

.audio {
  margin-right: 10px;
}

.favorite + label {
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin-left: auto;
}

.favorite {
  display: none;
}

.favorite + label > svg {
  vertical-align: middle;
}

@media ( max-width : 768px ) {

  .player {
    flex-direction: column; /* Empilha os elementos verticalmente em telas menores */
  }
}
