* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 15%;
  width: 85%;
}

.profile-header {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 240px;
  padding: 40px;
  text-align: center;
  width: 100%;
}

.profile-pict {
  border-radius: 50%;
  height: 180px;
  left: 18%;
  position: absolute;
  top: 15%;
  width: 180px;
}

.profile-body-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 80%;
}

.profile-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
}

.field {
  color: #3d495c;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.profile-edit-button {
  background-color: rgb(0, 86, 179);
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  transition: all 0.3s ease;
}

.profile-edit-button:hover {
  background-color: #036;
}
