body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  gap: 8px;
}

.input-login {
  border-radius: 100px;
  border-color: #0039e2;
  height: 50px;
  width: 600px;
  text-align: center;
  color: #0039e2;
  font-size: larger;
  font-weight: bold;
}

.input-login::placeholder {
  color: #0039e5d0;
}

.button-login {
  font-size: larger;
  font-weight: bold;
  height: 50px;
  width: 600px;
  cursor: pointer;
  border-radius: 100px;
  background-color: #003BE5;
  color: white;
}

.button-login:disabled {
  cursor: default;
  background-color: #0039e5b2;
}